@import url('https://fonts.googleapis.com/css?family=Raleway');
	
	/*Head Navi*/
.headNavi {
     
}
.headNavi ul {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 15px;
    float: right;
    margin-right: 160px;
    margin-top: 21px;
   
}
.headNavi ul li {
    display: inline;
}

.headNavi ul li a {
   text-decoration: none;
    color: #000000;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 15px;
}

/*HEAD ICONS*/
.headIcons{
    width: 130px;
    height: 40px;
    float: right;
    margin-right: -490px;
   margin-top: 14px;
}

/*MY NAVI*/
.logo {
    width: 107px;
    height: 37px;
    margin-left: 117px;
    margin-top: 50px;

}
.myNavi ul{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-left: 270px;
    margin-top: -22px;
}

.myNavi ul li{
    display: inline-block;
    margin-left: 40px;
}

.myNavi ul li a {
	color: #000;
	text-decoration: none;	
}

.position {
	font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin-left: 180px;
	margin-top: 20px;
	margin-bottom: -35px;
	font-size: 13px;
}
.position a {
	color: #000;
}

/*BORDER1 TRANSITION UNDERLINE*/
.from-left:after {
	display: inline-block;
	width: 55px;
	position: absolute;
	content: '';
	border-bottom: 3px solid #979797; 
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	padding-top: 25px;
	left: 310px;
}
.from-left:hover:after {
	transform: scaleX(1);	
}
.from-left:after {
	transform-origin: 0% 50%;
}
.fromt-left1:after {
	display: inline-block;
	width: 55px;
	position: absolute;
	content: '';
	border-bottom: 3px solid #979797; 
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	padding-top: 25px;
	left: 440px;
}
.fromt-left1:hover:after {
	transform: scaleX(1);	
}
.fromt-left1:after {
	transform-origin: 0% 50%;
}

/*BORDER2 TRANSITION UNDERLINE*/
.from-left2:after {
	display: inline-block;
	width: 110px;
	position: absolute;
	content: '';
	border-bottom: 3px solid #979797; 
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	padding-top: 25px;
	left: 410px;
}
.from-left2:hover:after {
	transform: scaleX(1);	
}
.from-left2:after {
	transform-origin: 0% 50%;
}
.from-left2s:after {
	display: inline-block;
	width: 110px;
	position: absolute;
	content: '';
	border-bottom: 3px solid #979797; 
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	padding-top: 25px;
	left: 540px;
}
.from-left2s:hover:after {
	transform: scaleX(1);	
}
.from-left2s:after {
	transform-origin: 0% 50%;
}

/*BORDER3 TRANSITION UNDERLINE*/
.from-left3:after {
	display: inline-block;
	width: 110px;
	position: absolute;
	content: '';
	border-bottom: 3px solid #979797; 
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	padding-top: 25px;
	left: 565px;
}
.from-left3:hover:after {
	transform: scaleX(1);	
}
.from-left3:after {
	transform-origin: 0% 50%;
}

.from-left3s:after {
	display: inline-block;
	width: 110px;
	position: absolute;
	content: '';
	border-bottom: 3px solid #979797; 
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	padding-top: 25px;
	left: 695px;
}
.from-left3s:hover:after {
	transform: scaleX(1);	
}
.from-left3s:after {
	transform-origin: 0% 50%;
}
/*BORDER4 TRANSITION UNDERLINE*/
.from-left4:after {
	display: inline-block;
	width: 110px;
	position: absolute;
	content: '';
	border-bottom: 3px solid #979797; 
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	padding-top: 25px;
	left: 715px;
}
.from-left4:hover:after {
	transform: scaleX(1);	
}
.from-left4:after {
	transform-origin: 0% 50%;
}

.from-left4s:after {
	display: inline-block;
	width: 110px;
	position: absolute;
	content: '';
	border-bottom: 3px solid #979797; 
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
	padding-top: 25px;
	left: 845px;
}
.from-left4s:hover:after {
	transform: scaleX(1);	
}
.from-left4s:after {
	transform-origin: 0% 50%;
}
/* VERTICAL NAVIGATION */
.darkBlue{
	background: #2A457A;
	color: #ffffff;
}
nav {
	width: 300px;
	height: 900px;
	position: absolute;
	-webkit-transform: translate(-300px, 0);
	transform: translate(-300px, 0);
 	transition: transform 0.5s ease;

}
nav.open {
	-webkit-transform: translate(0, 0);
	 transform: translate(0, 0);
}
#menu {
	
}
#menu i {
	margin-left: 40px;
	font-size: 2em;
	color: #D8D8D8;	
	float: left;
	margin-top: 370px;
}

#drawer {
	background: #F2F2F2;
	font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 16px; 

}
#drawer ul {
	margin-left: 50px;
	margin-top: 100px;
}
#drawer ul li {
	margin-bottom: 17px;
}
#drawer ul li  a {
	color: #000;
}
.refine {
	margin-top: -80px;
}

#drawer .subNavi{
	margin-top: 20px;
	width: 170px;
	height: 80px;
}
#drawer .subNavi li{
	margin-bottom: 30px;
}
#close {
margin-left: 200px
}



/*MAIN*/
#mainContent{
	
}
.mainContent {
    margin-top: 45px;
    margin-left: 110px;
    border: 3px solid;
    width: 962px;
    height: 527px;
}



/*FOOTER*/
.myFooter {
	max-width: 100%;
	height: 340px;
	background: #F4F4F4;
	margin: 0 auto;
	margin-top: 270px;
}

/*FEATURED PRODUCTED*/
.featuredBlock {
	width: 963px;
	height: 50px;
	background: #292b38;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	line-height: 70px;
	font-size: 1.5em;
}

.featured {	
	
}
.img-res {
		
}
.ft1, .ft2, .ft3, .ft4 {
	width: 310px;
	height: 250px;
	margin-top: 5px;
	float: left;
	margin-bottom: -200px;
	margin-right: 20px;
}
.ft5 {
	
}
/*----------------------*/
/*FOOTER*/
footer {
		font-family: 'Raleway', sans-serif;
}

.myFooter>p:first-child {
	font-size: 22px;
	margin-left: 73px;
	padding-top: 36px;
	font-weight: 600;
}
.myFooter>p:nth-child(4){
	font-size: 18px;
	margin-right: 210px;
	margin-top: -36px;
	font-weight: 600;
}

input.mailSign {
	margin-right: 400px;
	margin-top: -23px;
	width: 386.5px;
	background: none;
	border: none;
	border-bottom: 2px solid #000;
	outline: none;
	clear: both;
}

input.signBtn {
	margin-top: -25px;
	margin-right: 330px;
	background: none;
	border: none;
	border-bottom: 2px solid #000;
	width: 80px;
	padding-right: 0px;
	outline: none;
	font-size: 18px;
	font-weight: 600;
}




.footDetail {
	font-size: 18px;
	margin-top: 20px;
}

/*----------------------*/
/*FOOTER -> MY ACCOUNT*/
.myAccount {
	
}
.myAccount ul li:first-child {
	font-size: 20px;
	font-weight: 600;
}
.myAccount ul li{
	margin-top: 5px;
	margin-left: 73px;
	padding-bottom: 3px;
}
.myAccount a {
	color: #000;

}


/*----------------------*/
/*FOOTER  --> CUSTOMER SERVICE*/
.custService {
	
}
.custService ul li:first-child {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px
}
.custService ul li{
	margin-top: 5px;
	padding-bottom: 3px;
}
.custService a{
	color: #000;
}

/*----------------------*/
/*FOOTER --> ABOUT US*/
.aboutUs {
	
}
.aboutUs ul li:first-child {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px
}
.aboutUs ul li{
	margin-top: 5px;
	padding-bottom: 3px;
}
.aboutUs a {
	color: #000;
}

.social-icon {
	float: right;
	margin-right: 25px;
	margin-top: -37px;
	
}
.social-icon img {
	margin-right: 10px;
}



.carousel-control.left, .carousel-control.right {
    background-image: none
}
