@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');


html, body, main {
	height: 100%;
	width: 100%;
}
#wrapper {
  display: flex;
  flex-wrap: wrap;
}
/*LEFT NAVIGATION*/

nav {
	width: 300px;
	height: 900px;
	position: absolute;
	-webkit-transform: translate(-300px, 0);
	transform: translate(-300px, 0);
 	transition: transform 0.5s ease;

}
nav.open {
	-webkit-transform: translate(0, 0);
	 transform: translate(0, 0);
}
#menu {
	position: absolute;
	z-index: 1;
}

#menu i {
	margin-left: 20px;
	font-size: 2.2em;
	color: #D8D8D8;	
	margin-top: 10px;	
}


#drawer {
	background: #F2F2F2;
	font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 15px; 
	max-height: 640px;
	max-width: 250px;
	margin-top: 70px;
	z-index: 1000;
	
}
#drawer ul {
	margin-left: 30px;
	margin-top: 30px;
}
#drawer ul li {
	margin-bottom: 17px;
}
#drawer ul li  a {
	color: #000;
}
.refine {
	margin-top: -20px;
}

#drawer .subNavi{
	margin-top: 20px;
	width: 170px;
	height: 80px;
}
#drawer .subNavi li{
	margin-bottom: 13px;
}

#close img{
	margin-left: 160px;
	width: 3vmax;
	height: 4vmax;
	margin-top: -10px;
}


/*THE LOGO*/
.logo {
	width: 30vmin;
	height: 10vmin;
	margin-left: auto;
	margin-right: 35px;
	margin-top: 10px;

}

	
.carousel-control.left, .carousel-control.right {
    background-image: none;
}


.carousel {	
	width: 100%;
	top: 20px;
}





/*FEATURE BLOCKED*/
.featuredBlock {
	width: 100vmin;
	height: 1px;
	background: #292b38;
	color: #fff;	
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: -5px
}


.img-res {
	width: 180px;
	height: 65vmin;
}

.view {
	 margin-right: 0 auto;
}
.ft2 {		
	 margin-bottom: 40px;
	 margin-top: -250px;
	 margin-left: 210px;
	 
}
.ft3{
	
}
.ft4 {
	margin-left: 210px;
	margin-top: -250px;
}


.featured {
	margin-left: 5px;
	margin-bottom: 120px;
}


/*FOOTER*/
.myFooter {
	width: 300vmin;
	height: 90vmin;
	background: #F4F4F4;
	margin-top: 20px;
	
}
	
/*----------------------*/
/*FOOTER*/
footer {
	font-family: 'Raleway', sans-serif;
}

.myFooter>p:first-child {
	font-size: 18px;
	margin-top: 25px;
	font-weight: 600;
	margin-bottom: 50px;
	text-align: center;
}
.myFooter>p:nth-child(4){
	font-size: 18px;
	margin-right: 210px;
	margin-top: -36px;
	font-weight: 600;
}

input.mailSign {
	background: none;
	border: none;
	border-bottom: 2px solid #000;
	outline: none;
	margin-top: -40px;
	position: absolute;
	margin-left: 32px;
	width: 85vmin;
}

input.signBtn {
	margin-top: -54px;
	background: none;
	border: none;
	border-bottom: 2px solid #000;
	outline: none;
	font-size: 14px;
	font-weight: 800;
	position: absolute;
	margin-left: 220px;
	padding-left: 96px;
	padding-right: 0;
}






.footDetail {
	font-size: 14px;
	margin-top: 20px;
}

/*----------------------*/
/*FOOTER -> MY ACCOUNT*/
.myAccount {
	display: none;
}
.myAccount ul li:first-child {
	font-size: 16px;
	font-weight: 600;
}
.myAccount ul li{
	margin-top: 5px;
	margin-left: 73px;
	padding-bottom: 3px;
}
.myAccount a {
	color: #000;

}


/*----------------------*/
/*FOOTER  --> CUSTOMER SERVICE*/
.custService {
	margin-top: 80px;
}
.custService ul li:first-child {
	font-size: 16px;
	font-weight: bolder;
	margin-bottom: 10px;
}
.custService ul{
	margin-top: -165px;
	margin-left: 45px;
	font-size: 14px;	
}
.custService ul li{
	margin-bottom: 7px;
}

.custService a{
	color: #000;
}

/*----------------------*/
/*FOOTER --> ABOUT US*/
.aboutUs {
	margin-left: 270px;
	margin-top: -40px
}

.aboutUs ul li:first-child {
	font-size: 16px;
	font-weight: 600;
}
.aboutUs ul li{
	margin-top: 5px;
	padding-bottom: 3px;
}
.aboutUs a {
	color: #000;
}

.social-icon {
	margin-top: 15px;
	margin-left: 150px
}
.social-icon a {
	text-decoration: none;
}
.keepUp{
	font-weight: 800;
	margin-bottom: 5px;
	
}
.social-icon img {
	margin-right: 10px;
}
	
	







.headNavi {
	display: none;
}

.myNavi {
	display: none;
}

.position {
	display: none;
}

.headIcons {
	width: 30vmin;
	height: 7vmin;
}

.prodName {
	font-family:sans-serif;
	font-weight: 500;
	line-height: 15px;
	margin-bottom: 10px;
	font-size: 0.8em;
	margin-left: 2px;
}




.addtobag {
	color: #000;
	border: 1px solid #979797;
	padding: 4px;
	font-family: sans-serif;
	font-weight: 100;
	background-color: #fff;
	margin-top: 55px;
	position: absolute;
	left: 10px;
	padding-left:30px;
	padding-right: 30px;

}
.addtobag:hover {
	background: #e8e8e8;
}




.ft1 {
}

.addtobag2 {
	color: #000;
	border: 1px solid #979797;
	padding: 4px;
	font-family: sans-serif;
	font-weight: 100;
	background-color: #fff;
	position: absolute;
	margin-top: -30px;
	margin-left: 215px;
	padding-left:30px;
	padding-right: 30px;
}
.addtobag2:hover {
	background: #e8e8e8;
}

.addtobag3 {
	color: #000;
	border: 1px solid #979797;
	padding: 4px;
	font-family: sans-serif;
	font-weight: 100;
	background-color: #fff;
	position: absolute;
	margin-top: 42px;
	margin-left: 4px;
	padding-left:30px;
	padding-right: 30px;
}
.addtobag3:hover {
	background: #e8e8e8;
}

.addtobag4 {
	color: #000;
	border: 1px solid #979797;
	padding: 4px;
	font-family: sans-serif;
	font-weight: 100;
	background-color: #fff;
	position: absolute;
	margin-left: 215px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 42px;
}
.addtobag4:hover {
	background: #e8e8e8;
}


.saves {
	font-family:sans-serif;;
	position: absolute;
	margin-left: 5px;
	margin-top: 90px;
	color: #000;
	font-weight: 100;
	font-size: 14px;
}


.productName {
	font-family: 'Raleway', sans-serif;
	position: absolute;
	margin-top: 10px;
	margin-left: 5px;
	line-height: 20px;
}

.productName1 {
	font-family: 'Raleway', sans-serif;;
	margin-left: 215px;
	margin-top: -30px;
	margin-bottom: 33px;
	line-height: 20px;
}


.save2 {
	font-family: sans-serif;
	margin-left: 215px;
	font-size: 14px;
	color: #000;
	font-weight: 100;
	line-height: 20px;
}



.productName2 {
	font-family: 'Raleway', sans-serif;;
	position: absolute;
	line-height: 20px;
	margin-left: 5px;
}

.save3 {
	position: absolute;
	font-size: 14px;
	font-family: sans-serif;
	color: #000;
	font-weight: 100;
	line-height: 20px;
	margin-top: 70px;
	margin-left: 4px
}


.productName3 {
	font-family: 'Raleway', sans-serif;
	margin-left: 215px;
	line-height: 20px;
	position: absolute;
}

.save4 {
	position: absolute;
	font-size: 14px;
	font-family: sans-serif;
	color: #000;
	font-weight: 100;
	line-height: 20px;
	margin-top: 70px;
	margin-left: 215px
}













.viewAll {
	font-family:sans-serif;
	font-weight: 500;
	font-size: 0.8em;
	margin-left: 332px;
	color: #000;
	position: absolute;
		margin-top: -24px;	
}

.fa-angle-up {
	font-size: 2em;
	margin-left: 40px;
	margin-top: -20px;
}

.topback {
	margin-top: 0px;
	margin-left: 140px;
	color: #000;
	font-family: sans-serif;
	font-weight: 100;
	cursor: pointer;
}


.checkout {
	font-family: 'Raleway', sans-serif;
	margin: 50px auto -80px auto;
	font-weight: 600;
	font-size: 1.2em
}





.introBlues {
	width: 62.5vmax;
	height: 62vmax;
	margin-top: 22px;
}

.overlay {
	position:absolute;
    top: 70px;
    left:0px;
    bottom:0px;
    right:0px;
    background-color:rgba(0,0,0,0.6);
	width: 62.5vmax;
	height: 62.5vmax;
	color: #fff;
}


.monogram {
	font-family: 'Playfair Display', serif;
    transform:scale(1.6,1.3); /* W3C */
	line-height: 25px;
	text-align: center;
	margin-top: 70px;
	width: 250px;
	margin-left: 75px;
}

.introDes {
	font-family: 'Playfair Display', serif;
	text-align: center;
	margin-top: 20px;
	line-height: 30px;
}


.crossHand {
	width: 60vmin;
	height: 1px;
	background: #fff;
	color: #fff;	
	margin: 0 auto;
	margin-top: 20px
}

.space {
	margin-bottom: 110px
}


