.view {
   width: 200px;
   height: 250px;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   
}
.view .mask,.view .content {
   width: 300px;
   height: 250px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
	margin-left: 0px;
	margin-right: 25px;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 70px 90px 10px 0px;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 85px 20px 0px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   margin: 7px 100px 10px 0;
	padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}

.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 2px #000;
}
